In [347]:
import pandas as pd
import numpy as np

In [348]:
beauty = pd.read_csv('beauty.csv', encoding='utf-8', index_col='Unnamed: 0')
show_and_culture = pd.read_csv('show_and_culture.csv', encoding='utf-8', index_col='Unnamed: 0')
travel = pd.read_csv('travel.csv', encoding='utf-8', index_col='Unnamed: 0')

In [349]:
df1 = pd.concat([beauty, show_and_culture, travel], ignore_index=True)
df1 = df1.drop('days_left', axis=1)

In [350]:
df1 = df1[['categories', 'title','company_names','percentages','funding_amounts','n_supporters','likes','descriptions','durations','target_amounts']]

In [351]:
df1 = df1.replace('None', pd.np.nan).dropna()

In [352]:
sports = pd.read_csv('sports.csv', encoding='utf-8', index_col='Unnamed: 0')
socialcampaign = pd.read_csv('socialcampaign.csv', encoding='utf-8', index_col='Unnamed: 0')
food = pd.read_csv('food.csv', encoding='utf-8', index_col='Unnamed: 0')
design = pd.read_csv('design.csv', encoding='utf-8', index_col='Unnamed: 0')
home = pd.read_csv('home.csv', encoding='utf-8', index_col='Unnamed: 0')
donation = pd.read_csv('donation.csv', encoding='utf-8', index_col='Unnamed: 0')
publishing = pd.read_csv('publishing.csv', encoding='utf-8', index_col='Unnamed: 0')
fashion = pd.read_csv('fashion.csv', encoding='utf-8', index_col='Unnamed: 0')
meeting = pd.read_csv('meeting.csv', encoding='utf-8', index_col='Unnamed: 0')
pet = pd.read_csv('pet.csv', encoding='utf-8', index_col='Unnamed: 0')
tech = pd.read_csv('tech.csv', encoding='utf-8', index_col='Unnamed: 0')

In [353]:
df2 = pd.concat([donation, publishing, fashion, meeting, pet, tech, home], sort=False)

In [354]:
df2 = df2.drop('days_left', axis=1)

In [355]:
concat_df = pd.concat([df1, df2])
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15349 entries, 0 to 2123
Data columns (total 10 columns):
categories         15349 non-null object
title              15347 non-null object
company_names      15344 non-null object
percentages        15349 non-null object
funding_amounts    15349 non-null object
n_supporters       15349 non-null object
likes              15349 non-null object
descriptions       15343 non-null object
durations          15349 non-null object
target_amounts     15349 non-null object
dtypes: object(10)
memory usage: 1.3+ MB

In [356]:
# percentages 형변환
concat_df['percentages'] = concat_df['percentages'].str.replace('%','').astype('int64')

In [357]:
# funding_amounts 형변환
concat_df['funding_amounts'] = concat_df['funding_amounts'].str.replace(',','')
concat_df['funding_amounts'] = concat_df['funding_amounts'].str.replace('원','').astype('int64')

In [358]:
# target_amount 형변환
concat_df['target_amounts'] = concat_df['target_amounts'].str.replace(',','')
concat_df['target_amounts'] = concat_df['target_amounts'].str.replace('원','').astype('int64')

In [359]:
concat_df['n_supporters'] = concat_df['n_supporters'].str.replace(',','').astype('float64')

In [360]:
# likes 형변환
concat_df['likes'] = concat_df['likes'].astype('int64')

In [361]:
concat_df.head()

,categories,title,company_names,percentages,funding_amounts,n_supporters,likes,descriptions,durations,target_amounts
0,뷰티,[와디즈 최초]20대 딸이랑 50대 엄마랑 함께 쓰는 주름개선 만능 크림,주식회사칼라코드,467,2338880,54.0,41,"테라젠의 첫 번째 제품, 20대 딸이랑 50대 엄마가 함께 쓰는 주름개선 만능 크림...",2020.02.28-2020.03.06,500000
1,뷰티,[2.8억 앵콜] 하루만에 수분140%증가! 임상검증 완료! 갈바닉마스크,반디비타 주식회사,1426,14260000,145.0,79,지금 쓰는 스킨케어 제품의 수분증발을 잡아주고 유효성분은 갈바닉으로 피부 깊숙히 전...,2021.04.26-2021.05.31,1000000
2,뷰티,1000개 유명 피부과에 공급되는 시크릿 포뮬러를 담은 33패드 프로그램,(주)코떼랑,1003,5017500,65.0,65,위시포뮬러가 피부과 화장품 제조 20년의 기술과 노하우를 단 한 장의 패드에 담았...,2019.04.16-2019.05.06,500000
3,뷰티,두피 관리의 핵심은 유분량의 균형입니다! 올솔 모닝-나이트 밸런스 샴푸,올솔 (allsol),1471,7358800,134.0,130,매일 변하는 두피 유분량! \n그런데도 매번 같은 타입의 샴푸 쓰세요? \n두피뿐만...,2020.03.13-2020.04.06,500000
4,뷰티,컨디셔너 필요없이 그린빈샴푸 하나로 두피와 모발의 건강을 책임집니다.,주라이프 네츄럴 코스메틱 주앤솝,138,694800,30.0,12,"화학 성분 NO! 모발에 윤기와 탄력을 주며, 비듬이나 가려움을 덜어주며, 컨디셔너...",2019.04.26-2019.05.08,500000

In [362]:
concat_df['durations'] = concat_df['durations'].str.split('-')

In [363]:
concat_df['start'] = concat_df['durations'].str.get(0)
concat_df['end'] = concat_df['durations'].str.get(1)

In [364]:
concat_df['start'] = pd.to_datetime(concat_df['start'])
concat_df['end'] = pd.to_datetime(concat_df['end'])

In [365]:
concat_df['time'] = -(concat_df['start'] - concat_df['end'])

In [370]:
concat_df['time'] = concat_df['time'].dt.days

AttributeError: Can only use .dt accessor with datetimelike values

In [383]:
concat_df = concat_df[['categories', 'title','company_names','target_amounts','funding_amounts','percentages',
                       'n_supporters','likes','durations','start','end','time','descriptions']]

In [384]:
concat_df.to_csv('concat_df.csv', encoding='utf-8')

In [385]:
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15349 entries, 0 to 2123
Data columns (total 13 columns):
categories         15349 non-null object
title              15347 non-null object
company_names      15344 non-null object
target_amounts     15349 non-null int64
funding_amounts    15349 non-null int64
percentages        15349 non-null int64
n_supporters       15282 non-null float64
likes              15349 non-null int64
durations          15349 non-null object
start              15349 non-null datetime64[ns]
end                15349 non-null datetime64[ns]
time               15349 non-null int64
descriptions       15343 non-null object
dtypes: datetime64[ns](2), float64(1), int64(5), object(5)
memory usage: 1.6+ MB